body {
  background: black;
  color: white;
  padding: 0;
  margin: 0;
}

.app {
  background-color: #2D3250
}

#map {
  display: grid;
  background-color: #424769;
  width: 90vw;
  height: 98vh;
  margin: auto;
  padding: 0.5vw;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(5, 100px);
  grid-gap: 0.5em;
}

.county {
  background-color: #7077A1;
  width: 100%;
  height: 100%;
}